@page "/"

@inject NavigationManager nav

<h1>Business Corp Homepage</h1>
<br />
<br />
<h3>Welcome to Business Corp.</h3>
<br />
<br />
<div style="margin-bottom:10px">
    <p>Made by Laurent Varden</p>
</div>

